**Import des donnÃ©es**

In [44]:
# ðŸ“¦ Imports
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_parquet('../data/parquet/full_2020.csv.parquet', engine='pyarrow')

**Optimisation**

In [45]:
# Liste des colonnes Ã  supprimer (remplissage < 10%)
cols_to_drop_1 = [
    'ancien_code_commune', 'ancien_nom_commune', 'ancien_id_parcelle',
    'lot1_numero', 'lot1_surface_carrez', 'lot2_numero', 'lot2_surface_carrez',
    'lot3_numero', 'lot3_surface_carrez', 'lot4_numero', 'lot4_surface_carrez',
    'lot5_numero', 'lot5_surface_carrez'
]
# Liste des colonnes avec infos inutiles
cols_to_drop_2 = [
    'id_mutation', 'numero_disposition', 'adresse_numero', 'adresse_suffixe',
    'adresse_nom_voie', 'adresse_code_voie', 'nom_commune', 'id_parcelle',
    'numero_volume', 'code_nature_culture', 'nature_culture','code_nature_culture_speciale'
]
df.drop(columns=cols_to_drop_1, inplace=True)
# VÃ©rification des colonnes restantes
print(f"Shape after dropping columns: {df.shape}")

def optimize_dataframe(df, parse_dates=None, category_thresh=0.05, verbose=True):
    """
    Optimise les types d'un DataFrame pour rÃ©duire l'utilisation mÃ©moire :
    - convertit les objets en catÃ©gories si nombre de modalitÃ©s faible
    - convertit les float64 en float32
    - convertit les int64 en int32
    - convertit les colonnes de dates

    Parameters:
    - df : DataFrame Ã  optimiser
    - parse_dates : liste de colonnes Ã  parser comme dates
    - category_thresh : seuil max de ratio modalitÃ©/nb lignes pour transformer en 'category'
    - verbose : affiche la mÃ©moire gagnÃ©e

    Returns:
    - df optimisÃ©
    """

    initial_memory = df.memory_usage(deep=True).sum() / 1024**2

    # Dates
    if parse_dates:
        for col in parse_dates:
            df[col] = pd.to_datetime(df[col], errors='coerce')

    # Float â†’ float32
    float_cols = df.select_dtypes(include=['float64']).columns
    for col in float_cols:
        df[col] = df[col].astype('float32')

    # Int â†’ int32
    int_cols = df.select_dtypes(include=['int64']).columns
    for col in int_cols:
        if df[col].isnull().any():
            df[col] = df[col].astype('Int32')
        else:
            df[col] = df[col].astype('int32')

    # Object â†’ category si peu de modalitÃ©s
    for col in df.select_dtypes(include='object').columns:
        if df[col].nunique(dropna=False) / len(df) <= category_thresh:
            df[col] = df[col].astype('category')

    final_memory = df.memory_usage(deep=True).sum() / 1024**2

    if verbose:
        print(f"ðŸ’¾ MÃ©moire utilisÃ©e : {initial_memory:.2f} Mo â†’ {final_memory:.2f} Mo ({100 * (1 - final_memory/initial_memory):.1f}% gagnÃ©)")

    return df

# Application test sur ech_annonces_ventes_68.csv
optimized_df1 = optimize_dataframe(df, parse_dates=['date_mutation'], verbose=True)
optimized_df1.info()

Shape after dropping columns: (3522416, 27)
ðŸ’¾ MÃ©moire utilisÃ©e : 2855.43 Mo â†’ 862.50 Mo (69.8% gagnÃ©)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3522416 entries, 0 to 3522415
Data columns (total 27 columns):
 #   Column                        Dtype
---  ------                        -----
 0   id_mutation                   object
 1   date_mutation                 datetime64[ns]
 2   numero_disposition            int32
 3   nature_mutation               category
 4   valeur_fonciere               float32
 5   adresse_numero                float32
 6   adresse_suffixe               category
 7   adresse_nom_voie              object
 8   adresse_code_voie             category
 9   code_postal                   float32
 10  code_commune                  category
 11  nom_commune                   category
 12  code_departement              category
 13  id_parcelle                   object
 14  numero_volume                 category
 15  nombre_lots                   int32
 16  code_type_local               float32
 17  type_local                    category
 18  surface_reelle_bati           float32
 19  nombre_pieces_principales     float32
 20  code_nature_culture           category
 21  nature_culture                category
 22  code_nature_culture_speciale  category
 23  nature_culture_speciale       category
 24  surface_terrain               float32
 25  longitude                     float32
 26  latitude                      float32
dtypes: category(12), datetime64[ns](1), float32(9), int32(2), object(3)
memory usage: 312.2+ MB

**PrÃ© processing**

In [46]:
# optimized_df1 = optimized_df1.dropna()
optimized_df1.head()

# Le but est de voir si la commune est grande ou petite en fonction du nombre d'apparition dans le tableau
commune_freq = optimized_df1['nom_commune'].value_counts()
optimized_df1['commune_freq'] = optimized_df1['nom_commune'].map(commune_freq)

optimized_df1 = optimized_df1.drop(['adresse_numero', 'adresse_suffixe', 'adresse_nom_voie','adresse_code_voie', 'code_postal', 'nom_commune','numero_volume','nature_culture_speciale','code_nature_culture_speciale'], axis=1)






optimized_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3522416 entries, 0 to 3522415
Data columns (total 19 columns):
 #   Column                     Dtype
---  ------                     -----
 0   id_mutation                object
 1   date_mutation              datetime64[ns]
 2   numero_disposition         int32
 3   nature_mutation            category
 4   valeur_fonciere            float32
 5   code_commune               category
 6   code_departement           category
 7   id_parcelle                object
 8   nombre_lots                int32
 9   code_type_local            float32
 10  type_local                 category
 11  surface_reelle_bati        float32
 12  nombre_pieces_principales  float32
 13  code_nature_culture        category
 14  nature_culture             category
 15  surface_terrain            float32
 16  longitude                  float32
 17  latitude                   float32
 18  commune_freq               int64
dtypes: category(6), datetime64[ns](1), float32(7), int32(2), int64(1), object(2)
memory usage: 253.2+ MB

**Encoding**

In [47]:

optimized_df1['code_type_local'] = optimized_df1['code_type_local'].fillna(0)
optimized_df1['code_type_local'] = optimized_df1['code_type_local'].astype(int)
# Valeur possible Naan,1,2,3,4  -> valeur encodÃ© 0,1,2,3,4


optimized_df1['type_local'] = optimized_df1['type_local'].astype('string')
optimized_df1['type_local'] = optimized_df1['type_local'].fillna('Inconnu')
categories = ['Inconnu', 'Maison', 'Appartement', 'DÃ©pendance', 'Local industriel. commercial ou assimilÃ©']
optimized_df1['type_local'] = pd.Categorical(optimized_df1['type_local'], categories=categories)
optimized_df1['type_local'] = optimized_df1['type_local'].cat.codes
# Inconnu -> 0, 'Maison' -> 1, 'Appartement' -> 2, 'DÃ©pendance' -> 3, 'Local industriel. commercial ou assimilÃ©' -> 4


optimized_df1['nature_mutation'] = optimized_df1['nature_mutation'].astype('string')
categories = ['Vente', 'Vente terrain Ã  bÃ¢tir', 'Echange', "Vente en l'Ã©tat futur d'achÃ¨vement", 'Adjudication','Expropriation']
optimized_df1['nature_mutation'] = pd.Categorical(optimized_df1['nature_mutation'], categories=categories)
optimized_df1['nature_mutation'] = optimized_df1['nature_mutation'].cat.codes
# Vente -> 0, 'Vente terrain Ã  bÃ¢tir' -> 1, 'Echange' -> 2, 'Vente en l'Ã©tat futur d'achÃ¨vement' -> 3, 'Adjudication' -> 4, 'Expropriation' -> 5


optimized_df1['code_nature_culture'] = optimized_df1['code_nature_culture'].astype('string')
optimized_df1['code_nature_culture'] = optimized_df1['code_nature_culture'].fillna(0)
categories = [ 0,'T', 'BT', 'AB', 'S', 'J', 'P', 'BS', 'AG', 'L', 'VI', 'VE', 'BP', 'CH', 'BR', 'E', 'BF', 'CA', 'B', 'PA', 'BM', 'BO', 'PP', 'PC', 'TP', 'LB', 'PH', 'PE']
optimized_df1['code_nature_culture'] = pd.Categorical(optimized_df1['code_nature_culture'], categories=categories)
optimized_df1['code_nature_culture'] = optimized_df1['code_nature_culture'].cat.codes
# 0 -> 0, 1 -> 'T', 2 -> 'BT', 3 -> 'AB', 4 -> 'S', 5 -> 'J', 6 -> 'P', 7 -> 'BS', 8 -> 'AG', 9 -> 'L', 10 -> 'VI', 11 -> 'VE', 12 -> 'BP', 13 -> 'CH', 14 -> 'BR', 15 -> 'E', 16 -> 'BF', 17 -> 'CA', 18 -> 'B', 19 -> 'PA', 20 -> 'BM', 21 -> 'BO', 22 -> 'PP', 23 -> 'PC', 24 -> 'TP', 25 -> 'LB', 26 -> 'PH', 27 -> 'PE'

optimized_df1['nature_culture'] = optimized_df1['nature_culture'].astype('string')
optimized_df1['nature_culture'] = optimized_df1['nature_culture'].fillna(0)
categories = [ 0,'terres', 'taillis simples', 'terrains a bÃ¢tir', 'sols', 'jardins', 'prÃ©s', 'taillis sous futaie', "terrains d'agrÃ©ment", 'landes', 'vignes', 'vergers', 'peupleraies', 'chemin de fer', 'futaies rÃ©sineuses', 'eaux', 'futaies feuillues', 'carriÃ¨res', 'bois', 'pÃ¢tures', 'futaies mixtes', 'oseraies', 'prÃ©s plantes', 'pacages', 'terres plantÃ©es', 'landes boisÃ©es', 'herbages', "prÃ©s d'embouche"]
optimized_df1['nature_culture'] = pd.Categorical(optimized_df1['nature_culture'], categories=categories)
optimized_df1['nature_culture'] = optimized_df1['nature_culture'].cat.codes
# 0 -> 0, 1 -> 'terres', 2 -> 'taillis simples', 3 -> 'terrains a bÃ¢tir', 4 -> 'sols', 5 -> 'jardins', 6 -> 'prÃ©s', 7 -> 'taillis sous futaie', 8 -> "terrains d'agrÃ©ment", 9 -> 'landes', 10 -> 'vignes', 11 -> 'vergers', 12 -> 'peupleraies', 13 -> 'chemin de fer', 14 -> 'futaies rÃ©sineuses', 15 -> 'eaux', 16 -> 'futaies feuillues', 17 -> 'carriÃ¨res', 18 -> 'bois', 19 -> 'pÃ¢tures', 20 -> 'futaies mixtes', 21 -> 'oseraies', 22 -> 'prÃ©s plantes', 23 -> 'pacages', 24 -> 'terres plantÃ©es', 25 -> 'landes boisÃ©es', 26 -> 'herbages', 27 -> "prÃ©s d'embouche"

**Post DropNa**

In [52]:
optimized_df1 = optimized_df1.dropna()
optimized_df1

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,code_commune,code_departement,id_parcelle,nombre_lots,code_type_local,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,surface_terrain,longitude,latitude,commune_freq
11,2020-5,2020-01-09,1,0,72000.0,01108,01,01108000AH0048,0,1,1,35.0,2.0,4,4,381.0,5.350942,46.380917,93
13,2020-7,2020-01-06,1,0,180300.0,01053,01,01053000AI0138,0,1,1,75.0,4.0,4,4,525.0,5.208899,46.196869,1507
16,2020-9,2020-01-03,1,0,350750.0,01344,01,01344000AC0039,0,1,1,201.0,7.0,5,5,1267.0,5.200625,46.210476,363
18,2020-9,2020-01-03,1,0,350750.0,01344,01,01344000AC0039,0,1,1,201.0,7.0,4,4,1497.0,5.200625,46.210476,363
22,2020-11,2020-01-10,1,0,53650.0,01108,01,01108000AB0106,0,2,2,50.0,2.0,4,4,195.0,5.347202,46.388081,93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3522409,2020-1464982,2020-12-16,1,0,1937500.0,75104,75,75104000AW0019,0,2,2,46.0,2.0,4,4,447.0,2.350486,48.854301,852
3522410,2020-1464982,2020-12-16,1,0,1937500.0,75104,75,75104000AW0019,0,2,2,110.0,5.0,4,4,447.0,2.350486,48.854301,852
3522411,2020-1464982,2020-12-16,1,0,1937500.0,75104,75,75104000AW0019,0,2,2,37.0,2.0,4,4,447.0,2.350486,48.854301,852
3522413,2020-1464982,2020-12-16,1,0,1937500.0,75104,75,75104000AW0019,0,2,2,64.0,2.0,4,4,447.0,2.350486,48.854301,852
3522414,2020-1464982,2020-12-16,1,0,1937500.0,75104,75,75104000AW0019,0,2,2,33.0,1.0,4,4,447.0,2.350486,48.854301,852